<div class="container">
  <div class="row">
    <div class="col-lg-2"><img src="assets/img/logo.png"></div>
    <div class="col-lg-8" id="titulo">
      <h1> EV - Tu base de datos de vehículos eléctricos</h1>
    </div>
    <div class="col-lg-2">
      <button (click)="cambiarVista()">CAMBIAR VISTA</button>
      Vista actual: {{vistaBigCard}}
    </div>
  </div>
  <div class="row">
    
    <div class="col-lg-3">
      <app-sidebar></app-sidebar>
    </div>

    <div id="modelos" class="col-lg-9 bg-aqua">
      <!-- RELLENAR CON UN LISTADO DE TODOS LOS MODELOS -->
      <div *ngIf="loading">loading...</div>
      <div class="row row-cols-md-3" *ngIf="vistaBigCard">
          <app-car-card  *ngFor="let coche of coches"
          [cocheparam]="coche">
        </app-car-card>
      </div>
      
      <div class="row row-cols-md-1" *ngIf="!vistaBigCard">
        <app-car-row *ngFor="let coche of coches"
          [cocheparam]="coche">
        </app-car-row>
      </div>
    </div>
  </div> <!-- .row -->
</div> <!-- .container -->