<table id="tablaexamenes" class="table">
    <thead>
        <tr>
            <th scope="col">Módulo</th>
            <th scope="col">Profesor</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let exam of examenes">
            <tr>
                <td>{{exam.id_mod}}</td>
                <td>{{exam.id_prof}}</td>
                <td>{{exam.fecha}}</td>
                <td>{{exam.hora}} </td>
            </tr>
        </ng-container>
    </tbody>
</table>

