<h2>Buscar ciudades</h2>

<!-- <form (keydown.enter)="$event.preventDefault()" (ngSubmit)="buscarCiudades(patron.value)" novalidate> -->
    <div class="form-group">
      <!-- <label for="exampleInputEmail1">Email address</label> -->
      <input #patron type="text" class="form-control"
             id="patronCiudad" aria-describedby="emailHelp"
             placeholder="Introduce un nombre de ciudad"
             (keyup.enter)="buscarCiudades(patron.value)"
             >
    </div>
    <button class="btn btn-primary">Buscar</button>
<!-- </form> -->

<div class="alert alert-success" role="alert"
     *ngIf="msgAddCityOK">
  Ciudad añadida
</div>

<div class="alert alert-danger" role="alert"
    *ngIf="msgAddCityError">
  Ciudad ya existe
</div>

<ul class="list-group">
    <li *ngFor="let resultado of resultados"
        class="list-group-item"
        
        (click)="addCiudad({id : resultado.id, name : resultado.name})"
        >
      {{resultado.name}} ({{resultado.country}})
    </li>
</ul>
