<h1>ORGANIZADOR</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/calendario" class="nav-link">Calendario</a>
          </li>
          <li class="nav-item">
            <a routerLink="/modulos" class="nav-link">Módulos</a>
          </li>
          <li class="nav-item">
            <a routerLink="/profesores" class="nav-link">Profesores</a>
          </li>
         </ul>
      </div>
    </div>
  </nav>

<div class="container">
    <div class="row">
      <div class="col-8">
        <router-outlet></router-outlet>
      </div>
      <div class="col-4">
        <app-chat></app-chat>
      </div>
    </div>
</div>



