<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"
                    routerLink="/home"
                    routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    routerLink="/favs"
                    routerLinkActive="active">Favoritos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                routerLink="/query"
                routerLinkActive="active">Buscador</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                routerLink="/thank"
                routerLinkActive="active">Agradecimientos</a>
            </li>
            </ul>
        </div>
    </nav>
</div> <!-- .row -->

